.page-view {
    height: 100vh;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.page-view .project {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
}

.page-view .project .text h1 {
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin: 0;
    display: table;
    text-align: center;
}

.page-view .project .text p {
    font-size: 16px;
    position: absolute;
    bottom: 40px;
    right: 60px;
    margin: 0;
    color: hotpink;
}

.page-view .project:nth-child(1) {
    z-index: 30;
}

@media screen and (max-width: 640px) {
    .page-view .project .text h1 {
        font-size: 28px;
    }

    .page-view .project .text p {
        bottom: 20px;
        margin: 0;
        text-align: center;
        width: 100%;
        right: auto;
        font-size: 14px;
    }

  
}

.page-view .arrows {
    position: absolute;
    bottom: 50px;
    left: 100px;
    z-index: 100;
}

.page-view .arrows .arrow {
    float: left;
    cursor: pointer;
}

.page-view .arrows .arrow.next {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-top: -15px;
}

.page-view .arrows .arrow:hover.previous {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
}

.page-view .arrows .arrow:hover.next {
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translate3d(5px, 0, 0) rotate(180deg);
    transform: translate3d(5px, 0, 0) rotate(180deg);
}

.page-view .arrows .arrow svg {
    height: 40px;
    width: 25px;
    padding: 2px;
}

.page-view .arrows .arrow svg polygon {
    fill: #fff;
}

.page-view .arrows .arrow {
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    transition: transform 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    margin-right: 10px;
    margin-top: -7px;
}

@media screen and (max-width: 640px) {
    .page-view .arrows {
        bottom: 60px;
        left: 50%;
        z-index: 120;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .page-view .arrows .arrow.previous:hover {
        -webkit-transform: none;
        transform: none;
    }

    .page-view .arrows .arrow.next:hover {
        -webkit-transform: translate3d(0, 0, 0) rotate(180deg);
        transform: translate3d(0, 0, 0) rotate(180deg);
    }

    
}



@-webkit-keyframes mask-play {
    from {
        -webkit-mask-position: 0% 0;
        mask-position: 0% 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

@keyframes mask-play {
    from {
        -webkit-mask-position: 0% 0;
        mask-position: 0% 0;
    }

    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

/* DEMO 2 */

.demo-2 {
    background: url(./assets/building-sprite.png) no-repeat -9999px -9999px;
}

.demo-2 .page-view {
    background: url(./assets/building-sprite-2.png) no-repeat -9999px -9999px;
}

.demo-2 .page-view h1 {
    text-transform: uppercase;
    letter-spacing: 16px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #ffffff;
}

@media screen and (max-width: 640px) {
    .demo-2 .page-view h1 {
        letter-spacing: 4px;
    }
}

.demo-2 .page-view .project:nth-child(1) {
    background-image: url(./assets/images/1.png);
}

.demo-2 .page-view .project:nth-child(2) {
    background-image: url(./assets/images/2.png);
}

.demo-2 .page-view .project:nth-child(3) {
    background-image: url(./assets/images/3.png);
}

.demo-2 .page-view .project:nth-child(4) {
    background-image: url(./assets/images/4.png);
}

.demo-2 .page-view .project:nth-child(odd).hide {
    -webkit-mask: url(./assets/building-sprite.png);
    mask: url(./assets/building-sprite-2.png);
    -webkit-mask-size: 7500% 100%;
    mask-size: 7500% 100%;
    -webkit-animation: mask-play 1.4s steps(74) forwards;
    animation: mask-play 1.4s steps(74) forwards;
}

.demo-2 .page-view .project:nth-child(even).hide {
    -webkit-mask: url(./assets/building-sprite-2.png);
    mask: url(./assets/building-sprite-2.png);
    -webkit-mask-size: 8400% 100%;
    mask-size: 8400% 100%;
    -webkit-animation: mask-play 1.4s steps(83) forwards;
    animation: mask-play 1.4s steps(83) forwards;
}


.main-banner {
    height: 100%;
    position: relative;
}

.main-banner {
    display: table;
    width: 100%;
    text-align: center;
}

.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
}

.heading {
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    z-index: 1;
}

.heading h1 {
    color: #ffffff;
    font-weight: 700;
    font-size: 62px;
    text-transform: uppercase;
}

.heading p {
    font-size: 18px;
    padding: 20px 0px;
}

.heading h3 {
    color: ffffff;
}

.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}

.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}